#shoeHeader {
  color: silver;
}
.body{
     width : 960px;
     margin :0px auto;
     padding:25px;
     border:1px solid #ccc;
     background-color: blue;
   }
   .container {
      width: 825px;
      border:1px solid #966;
      margin:0;
      padding:0;
      border-width: 200px;
      height: 0px;
}
.options{
  background-color: yellow;
}
li{
list-style-type: none;
display: inline-block;
background-color: yellow;
}
 center, options {
  display: inline-block;
  align-content: center;
  padding: left;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    border-width: 2px;
}
.addButton{

}
input placeholder {
  text-align: center;
}
.stock2 {
  background-color: #966;
  border-collapse: inherit;
}
