#shoeHeader {

  color: green;
}
li {
list-style-type: none;
}
.options {
  background-position: right;
  display: inline-block;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.addButton{

}
input placeholder {
  text-align: center;
}
