#shoeHeader {

  text-decoration: green;
}
li {
list-style-type: none;
}
.options {
  display: inline-block;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
